@import url(../base/colores.css);

.Header{
    height: 11rem;

    background-color: var(--azul);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

}

.Header section{
    padding: 1rem;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.Header section article{
    width: 100%;
}

.Header section article nav{
    display: flex;
    justify-content: space-evenly;

    
}
nav li{
    list-style: none;
}

.link{
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.link:hover{
    text-decoration: underline;
}

h1{
    text-align:  center;
    font-size: 3rem;
    font-weight: 700;
    font-family: "Sansita+Swashe",system-ui;
    color: white;

    

}